*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    width: 1351px;
    height: 768px;
    background-image: url("pexels-ekamelev-813872.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#madasudukotuwa{
    width: 280px;
    height: 100vh;

    background-color: #F0F0F0;

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#aplogo{
    width: 100px;
    clear: both;
    position: absolute;
    top: 100px;
}

#citynamehead{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    clear: both;
    position: absolute;
    margin-top: -120px;
}

#city2{
    width: 240px;
    height: 30px;
    background-color: white;

    clear: both;
    position: absolute;
    border-radius: 14px;

    border: none;
    outline: none;       
    padding: 2px;

    font-family: "Public Sans", sans-serif;
    font-size: 17px;
    text-align: center;
}

#btnCity{
    width: 100px;
    height: 40px;
    background-color: white;
    clear: both;
    position: absolute;
    margin-top: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

/* Side Panel */
.side-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;                /* start closed */
    height: 100vh;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);     
    overflow-x: hidden;
    transition: width 0.5s ease;  /* animate width */
    padding: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Weather container */
.weather-data {
    display: flex;
    flex-direction: column;
    align-items: center;  /* center everything horizontally */
    text-align: center;
    margin-top: 10px;
}

.temp {
    font-size: 50px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0px;
}

#weatherIcon{
    width: 80px;
    margin-top: 24px;
}

.condition {
    font-family: "Archivo Black", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 27px;    
    margin-top: 10px;
}

.details {
    margin-top: 20px;
    width: 250px}

.detail-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    font-size: 18px;
}

.detail-label {
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
    width: 120px;
}

.detail-value {
    text-align: right;
    width: 90px;
}

@media (max-width: 600px){
    #madasudukotuwa{
        width: 100%;
        height: 100px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #aplogo{
        width: 60px;
        top: 25px;
        margin-left: -400px;
    }

    #citynamehead{
        font-size: 18px;
        margin-top: -50px;
    }

    #city2{
        margin-top: 30px;
        margin-left: -60px;
        width: 220px;
    }
    
    #btnCity{
        margin-top: 30px;
        margin-left: 280px;
        height: 30px;
        border-radius: 20px;
    }

    .side-panel {
        width: 100vw;
        margin-top: 100px;
        position: absolute;
        width: 100%;
    }

    .weather-data {
        margin-top: -100px;
    }

    body{
        width: 1351px;
        height: 703.5px;
        background-image: url("pexels-ekamelev-813872.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

}